.App {
  text-align: center;
}

.App-header {
  background-color: #82c7e3; /* Changed header color */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #2c3e50; /* Changed text color */
}

.MainButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%; /* Adjusted width */
  height: 300px;
}

.GameSection {
  width: 34%; /* Adjusted width */
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RightSection {
  width: 32%; /* Adjusted width */
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjusted padding */
}

.mybutton {
  color: #ecf0f1; /* Changed button text color */
  font-weight: bold;
  padding: 12px 18px; /* Adjusted padding */
  border: none;
  border-radius: 8px; /* Reduced border radius */
  font-size: 18px; /* Adjusted font size */
  background-color: #3498db; /* Changed button color */
  transition-duration: 0.2s;
  width: auto;
  margin: 8px; /* Adjusted margin */
}

.mybutton:hover {
  background-color: #2980b9; /* Changed hover color */
  padding: 10px 16px; /* Adjusted padding */
  border: 2px solid #ecf0f1; /* Changed border color */
}

.custom-file-upload {
  color: #ecf0f1; /* Changed text color */
  font-weight: bold;
  padding: 12px 18px; /* Adjusted padding */
  border: none;
  border-radius: 8px; /* Reduced border radius */
  font-size: 18px; /* Adjusted font size */
  background-color: #3498db; /* Changed button color */
  transition-duration: 0.2s;
}

.custom-file-upload:hover {
  background-color: #2980b9; /* Changed hover color */
  padding: 10px 16px; /* Adjusted padding */
  border: 2px solid #ecf0f1; /* Changed border color */
}

.FormContainer {
  width: 180px; /* Adjusted width */
}

#registerbutton {
  width: 65%; /* Adjusted width */
  font-size: 14px; /* Adjusted font size */
  margin: 4px; /* Adjusted margin */
}

#loginbutton {
  width: 65%; /* Adjusted width */
  font-size: 14px; /* Adjusted font size */
  margin: 4px; /* Adjusted margin */
}

#authTitle {
  font-size: 24px; /* Adjusted font size */
  font-weight: bold;
  color: #3498db; /* Changed title color */
  margin: 8px; /* Adjusted margin */
}

#loggedinContainer>ul {
  text-align: left;
  color: #3498db; /* Changed text color */
  font-weight: bold;
}

#loggedinContainer>button:hover {
  /* Add any specific styles for button hover state */
}
